.card {
    border-bottom:  1px solid rgba(0, 0, 0, 0.125);
    margin-top: 15px;
}

.card-body {
    display: flex;
    padding: 30px 0;
}

.meta-info {
    color: #808080;
    margin-top: -10px;
    font-size: 14px;
}

.continue-reading {
    font-style: italic;
    color: #808080;
    text-decoration: none;
}

.continue-reading:hover {
    text-decoration: underline;
}

.articleimage {
  width: 300px;
  height: 200px;
  margin-right: 1rem;
  padding-right: 0.5rem;
}

.articleimage img {
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
  border-radius: 5px;
}

.imageframe {
  border: 1px solid #808080;
  padding: 0.25rem;
  border-radius: 5px;
}