<div class="wrapper" *ngIf="article">

  <div class="property">
    <label>Title:</label>
    <input type="text" [(ngModel)]="article.title"/>
  </div>

  <div class="property">
    <label>Key:</label>
    <input type="text" [(ngModel)]="article.key"/>
  </div>

  <div class="property">
    <label>Date:</label>
    <input type="text" [(ngModel)]="article.date"/>
  </div>

  <div class="property">
    <label>Image URL:</label>
    <input type="text" [(ngModel)]="article.imageUrl"/>
  </div>

  <div class="property">
    <label>Description:</label>
    <textarea type="text" [(ngModel)]="article.description" class="articledesc"></textarea>
  </div>

  <div class="property">
    <label>Content:</label>
    <textarea type="text" [(ngModel)]="article.content"></textarea>
  </div>

  <div>
    <button (click)="updateArticle()">Update</button>
  </div>

  <div class="status" *ngIf="isSaved">
    <span class="savedtext">article has been saved</span>
    <a routerLink="../../{{ article.id }}" class="viewlink">View article</a>
  </div>

</div>