button {
  margin: 1rem;
  padding: 0.5rem;
  background-color: #f7f8fa;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background-color: #808080;
}