<div class="overview">
  <div class="overview-head">
    <div class="overview-cell"></div>
    <div class="overview-cell">Title</div>
    <div class="overview-cell">Date</div>
  </div>
  <div class="overview-row" *ngFor="let article of articles">
    <div class="overview-cell">
      <img [src]="article.imageUrl" class="overview-image">
    </div>
    <div class="overview-cell">
      <a routerLink="../{{ article.key }}">{{ article.title }}</a>
    </div>
    <div class="overview-cell">{{ article.date | date }}</div>
  </div>
</div>